# http://editorconfig.org

root = true

[*]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8
end_of_line = lf
max_line_length = 88
spelling_language = en-US

[*.{json,yml,yaml,js,mjs,jsx}]
indent_size = 2
ij_javascript_force_semicolon_style = false

[LICENSE]
insert_final_newline = false
